@import '../../../app/colors';

.ButtonIcon {
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $grey-border;
}

.BtPencilCompanies {
  color: $pink;

  &:hover{
    background-color: $pink-hover;
    color: $white;
  }
}

.BtPencilVacancies {
  color: $purple;

  &:hover{
    background-color: $purple-hover;
    color: $white;
  }
}

.BtTrash {
  color: $red-text;

   &:hover{
    background-color: $red-background-hover;
    color: $red-text-hover;
  }
}

.BtArrow {
  background-color: $light-gray-btn-pagination;
  color: $medium-grey-text;
  border-radius: 9px;
  padding: 5px;

   &:hover{
    color: $light-gray-text;
  }
}
