//Background
$background: linear-gradient(110deg, rgba(192,132,252,1) 0%, rgba(236,72,153,1) 50%, rgba(239,68,68,1) 100%);
$light-gray-inactive-tabs: rgb(243, 244, 246);
$light-gray-btn-pagination: rgb(229, 231, 235);
$white: rgb(255, 255, 255);

//Text
$black-text: rgb(31, 41, 55);
$medium-grey-text: rgb(75, 85, 99);
$light-gray-text: rgb(107, 114, 128);

//Botones
$purple: rgb(168, 85, 247);
$purple-hover: rgb(147, 51, 234);
$pink:  rgb(236, 72, 153);
$pink-hover:  rgb(219, 39, 119);
$red-text:  rgb(239, 68, 68);
$red-text-hover:   rgb(220, 38, 38);
$red-background-hover:  rgb(254, 242, 242);

//Border
$grey-border: rgb(229, 231, 235);
$purple-focus: rgb(233, 213, 255);
$pink-focus:rgb(251, 207, 232);