@import '../../../app/colors';

.Container {
 display: flex;
 flex-direction: column;
 width: 30%;
 background-color: $white;
 padding: 16px;
 border-radius: 5px;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

}