@import '../../../app/colors';

.SearchInputContainer {
  position: relative;
  display: flex;
  align-items: center;
  color: $light-gray-text;
}

.SearchIcon {
  position: absolute;
  margin-left: 10px;
}

.SearchInput {
  padding-block: .5rem;
  padding-left: 40px;
  border-radius: 50px;
  border: 1px solid $grey-border;
}